<div class="comment u-shadow">
    <h3>Comments</h3>
    <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="n4wYLNLL" data-page-id="{{comment_id}}" data-limit="5" data-color="29B127" data-colorful="1"></script>
</div>